<footer class="page__footer">
    <hr style="width: 100%; margin-bottom: 1em; border: none; border-top: 1px solid #eee;">

    <div class="wrapper" style="display: flex; justify-content: space-between; align-items: center;">
        {% if site.github_username %}
        <div class="footer-col footer-col-3">
            <p><a href="{{site.baseurl}}/">Blog</a></p>
        </div>
        {% endif %}
        <div class="footer-description">
            <h3 style="margin-bottom: 0.25em; font-size: 1.0em; font-weight: 500;">{{site.title}}</h3>
            <p style="margin-top: 0; font-size: 0.9em;">{{site.description}}</p>
        </div>
    </div>
</footer>
